
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Bold.ttf);
  
}
body{
  overflow-x: hidden;
  background-image: url("Img/background.png");
}

#page {
  padding: 2em 2em;
  width: 95vw;
  margin: auto;
  overflow: visible;
  height: 95vh;
}

header{
  width: 100%;
  height: 60px;
}

#nav{
  text-align: right;
  font-size: larger;
  padding-right: 15px;
  background: inherit;
  text-transform: uppercase;
  margin: inherit;
  overflow: hidden;
  width: 90vw;
  }

a {
  color:burlywood;
  padding: 1em;
  text-decoration: none;
  }

a:hover{
  color: gray;
}
  
#list {
  list-style-type: none;
  padding: 10px;
  color: whitesmoke;
}
.text {
  text-size-adjust: 30%;
  font-family: sans-serif;
  font-size: larger;
  padding: 0em 3em 0em 1em;
  text-align: justify;
  color: whitesmoke;
  }

  h1{
    text-size-adjust: 50%;
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center;
    color: whitesmoke;
  }
  h2{
    text-size-adjust: 40%;
    font-family: sans-serif;
    font-size: x-large;
    text-align: center;
    font-weight: normal;
    padding-top: 3em;
    color: whitesmoke;        
  }
  h3{
      text-size-adjust: 30%;
      font-family: sans-serif;
      font-size: larger;
      color: whitesmoke;
    }

.card {
  padding: 20px;
  margin: auto;
  width: 100%;
  display: flex;
}

.card2 {
  background: inherit;
  padding: 0em 1em 0em 1em;
  width: 85vw;
  text-align: justify;
  text-size-adjust: 25%;
  font-size: larger;
  box-sizing: inherit;
  word-wrap: normal;
  align-content: center;
  margin: inherit;

}
#portopage{
  height: 100vw; 
  vertical-align: center;
 }

img{
  width: 100%;
  border-radius: 3em;
  box-shadow: 10px 10px 10px 10px lightskyblue;
}

figcaption{
  padding: 2em;
  color: whitesmoke;
  text-align: center;
}
button {
    padding: 20px 20px 20px 20px ;
    display: inline-block;
    font-size: medium;
    margin: 2em 2em;
    cursor: pointer;
    background:inherit;
    border-radius: 3em;
    border: burlywood 1px solid;
    text-decoration-line: none;
    font-family: sans-serif;
    font-weight: bold;
    word-spacing: 1em;    
    margin-left: 5em;
  }
  .button:hover {
    background-color: blue;
    color: white;
  }
  
.right {
  padding-left: 100px;
  padding-top: 100px;
  width: 50%;
}
  
.left {
  padding: 15px;
  flex:1;
  margin: 10px;
}

.copyright {
  width: 100%;
  margin: auto;
  color: whitesmoke;
  padding-top: 1em;
}
